* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: Arial;
}

body {
    background-color: #000000;
}

.calculator-container {
    width: 400px;
    margin: 90px auto 0 auto;
}

.display-box {
    color: #ffffff;
    text-align: right;
    font-size: 60px;
    margin: 20px 75px 20px 0;
}

.keypad-table tr:first-child .keys {
    background-color: #a5a5a5;
}

.keypad-table tr:first-child .keys:active {
    border-radius: 90px;
    background-color: #a5a5a590;
}

.keypad-table tr td:last-child .keys {
    background-color: #ffa45c;
}

.keypad-table tr td:last-child .keys:active {
    border-radius: 90px;
    background-color: #ffa45ccc;
}

.keys {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    text-align: center;
    line-height: 70px;
    border-radius: 90px;
    margin: 5px;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
}

.keys:active {
    border-radius: 90px;
    background-color: #33333390;
}

.keys:hover {
    border-radius: 90px;
    opacity: 70%;
}
